*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.hidden{
    display: none;
}

body{
}

/* header / top */

header{
    background-color: #F15156;
    width: 100%;
    height: 72rem;
}

header .wrapper_top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
    
    height: 8rem;
    width: 100%;
    background-color: #E44449;

    position: fixed;
    top: 0;
    z-index: 2;
}

header .wrapper_logo{
    display: flex;
    gap: 8px;
    align-items: center;
    z-index: 3;
}

header .wrapper_logo h2{
    color: white;
    font-weight: 500;
    font-size: 22px;
}

header .wrapper_sidebar{
    background: white;

    width: 40px;
    height: 40px;

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .wrapper_sidebar img{
    position: absolute;

    width: 16px;
    height: 16px;
}

header .wrapper_sidebar #check_menu{
    opacity: 0;
}

/* header / nav */

nav{
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 2;

    position: fixed;
}

hr{
    opacity: .2;
    width: 93%;
    margin: 0 0 20px 5px;
}

nav ul{
    width: 100%;
    height: 20rem;
    
    padding: 0px 20px;
    border-radius: 0 0 20px 20px;
    
    background-color: #E44449;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav ul li{
    opacity: .6;

    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: -0.02em;
    line-height: 110%;
    font-family: 'Nunito';
    font-size: 18px;

    list-style: none;
    width: 16rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li:hover{
    opacity: 1;
    font-weight: 800;
}

nav ul li:focus{
    opacity: 1;
}

/* header / section / container_1 */

.container_1{
    width: 100%;
    padding-top: 12rem;
}

.container_1 .wrapper_img{
    display: flex;
    padding-left: 30px;
}

.container_1 .wrapper_img .friendImg{
    width: 35px;
    height: 35px;
    
    border-radius: 50%;
    margin-left: -15px;
    
    overflow: hidden;
    background-color: #F15156;;
}

.container_1 .wrapper_img .friendImg img{
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
}

.container_1 .wrapper_text{
    margin-top: 10px;
    padding-left: 25px;
}

.container_1 .wrapper_text p{
    color: white;
    font-weight: 800;
    font-size: 14px;
    font-family: 'Nunito';
}

.container_1 .wrapper_text p span{
    opacity: .8;
    font-weight: 400;
}

/* header / section / container_2 */

.container_2{
    /* falta detalhe */
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.container_2 h1{
    font-family: 'Nunito';
    font-weight: 700;
    line-height: 48.4px;
    leter-spacing: -2%;
    font-size: 4.4rem;
    color: white;

    width: 300px;
    margin: 3.5rem 3rem;
}

.container_2 .wrapper_cards{
    max-width: 100%;
   
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 30rem;
    overflow: hidden;
}

.container_2 .wrapper_cards div{
    background: #E44449;
    min-width: 28rem;
    height: 25.5rem;

    border-radius: 20px;

    color: white;
}

.container_2 .wrapper_cards div:nth-child(1){
    display: none;
}

.container_2 .wrapper_cards div:nth-child(5){
    display: none;
}

.container_2 .wrapper_cards .dog{
    position: relative;
    background: linear-gradient(210deg, #F36A6F 17.23%, #E44449 73.77%);
}

.container_2 .wrapper_cards .dog img{
    position: absolute;
    top: -20px;
    left: 2rem;
}

.container_2 .wrapper_cards button{
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    width: 24rem;
    height: 5.5rem;

    border-radius: 8px;
    border: none;

    font-family: 'Nunito';
    font-weight: 800;
    font-size: 14px;
    color: #0D3B66;
}

/* main / section */

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "B"
    "A";
}

.wrapper_description_app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    grid-area: B;

    height: auto;
    max-width: 69rem;
    background: red;

    padding: 2rem;
}

.wrapper_description_app .wrapper_title{
    background: white;
    width: 100%;
    height: 10rem;
    border-radius: 0;

}

.wrapper_description_app h2{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #0D3B66;

    width: 32rem;
}

.wrapper_description_app div{
    background: #FDECED;

    width: 32rem;
    height: 20rem;

    border-radius: 2rem;
}

.wrapper_description_app div p{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #000000;
}

/* main / wrapper_page_image */

.wrapper_page_image{
    grid-area: A;
    background: #FDECED;

}







/* @media queries */

@media (min-width: 1200px){
    /* header */

    header{
        height: 82rem;
    }

    header .wrapper_top{
        background-color: #F15156;
    }

    header .wrapper_logo{
        padding-left: 6rem;
        margin-top: 5rem;
    }

    header .wrapper_sidebar{
        display: none;
    }

    nav{
        top: -25px;
        right: 0;
        width: 78%;
    }

    nav ul{
        flex-direction: row;
        gap: 6rem;
        align-items: center;
        justify-content: end;
        background-color: #F15156;

        padding-right: 13rem;
        height: 18rem;
        max-width: 100%;
        border-radius: 0;
    }

    nav ul li{
        width: auto;
    }

    hr{
        display: none;
    }

    /* === */

    .container_1{
        display: flex;
        padding-top: 24rem;
    }

    .container_1 .wrapper_img{
        padding-left: 9rem;
    }

    .container_1 .wrapper_text{
        margin-left: -2rem;
    }

    /* === */

    .container_2{
        padding-left: 5rem;
    }

    .container_2 h1{
        font-size: 6rem;
        line-height: 7.9rem;
        width: 400px;
        margin: 7rem 3rem;
    }

    .container_2 .wrapper_cards button{
        font-size: 20px;
    }

    .container_2 .wrapper_cards{
        gap: 20px;
        position: absolute;
        right: 0;
        top: 0;

        overflow: hidden;

        margin-top: 15.2rem;
        padding: 5rem 0 0 0;

        max-width: 70%;
        height: 66.8rem;

        display: grid;
        grid-template-columns: 1fr 10rem;
        grid-template-areas:
        "C A"
        "B A"
        "D E" 
    }
    .container_2 .wrapper_cards div:nth-child(3){
        grid-area: C;
        max-width: 59rem;
        height: 39rem;
    }
    .container_2 .wrapper_cards div:nth-child(1){
        grid-area: A;
        height: 100%;
        display: block;
    }
    .container_2 .wrapper_cards div:nth-child(2){
        grid-area: B;
        width: 59rem;
        height: 15rem;

    }
    .container_2 .wrapper_cards div:nth-child(4){
        grid-area: D;
    }
    .container_2 .wrapper_cards div:nth-child(5){
        grid-area: E;
        display: block;
    }
    .container_2 .wrapper_cards .dog img{
        top: -49px;
        left: 10rem;
        height: 44rem;
    }
    .container_2 .wrapper_cards button{
        bottom: -13rem;
        left: 5rem;
    
        width: 49rem;
        height: 7rem;
    }

    /* main */

    main{
        grid-template-areas:
        "A B";
    }
}
